.input {
    border: 1px solid #6C63FF;
    padding: 11px 16px;
    border-radius: 6px;
    color: #C3C1E5;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    width: 100%;
}


.button {
    border-radius: 5px;
    background: #6C63FF;
    padding: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #fff;
    color: #6C63FF;
    border: 1px solid #6C63FF;
}

.form {
    display: flex;
    gap: 16px;
}